<!-- item will be appened to this layout -->
<div class="sl__chat__layout" id="log">
</div>

<!-- chat item -->
<script id="chatlist_item" type="text/template">
    <div data-from="{from}" data-id="{messageId}">
    <span class="meta" style="color: {color}">
      <span class="badges">
      </span>
      <span class="name">{from}</span>
    </span>

        <span class="message">
      {message}
    </span>
    </div>
</script>
